:root {
    /*Variables*/
    --bg-header: #AAAA00;
    --bg-text: #ffff9f;
    --color-txt-header: #000;
    --bg-button: #0000B1;
    --bg-video: #4646FF;
    --bg-input-color: #444;

    --R1: 4px;
    --R2: 8px;
    --R3: 12px;
    --R4: 16px;

}

table {
    border: solid 4px #fff;
    max-width: 800px;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    border-collapse: collapse;

    tr td {
        border: solid 4px #000;
        padding: 10px;

    }

    tr {
        &:nth-child(odd) {
            background-color: green;
        }

        &:nth-child(even) {
            background-color: lightgreen;
        }

        button {
            background-color: tomato;
            color: #fff;
            font-size: 13pt;
            border: none;
            padding: 10px;
            max-width: 200px;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
        }

        span {
            display: inline-block;
            background-color: var(--bg-video);
            color: #fff;
            padding: 10px;
            max-width: 200px;
            width: 100%;
            border-radius: 10px;
        }

        span.reservado {
            background-color: goldenrod;
        }


    }

}


.btn-verReservas {
    border: none;
    padding: 10px;
    margin: 10px auto;
    background-color: tomato;
    border-radius: 10px;
    cursor: pointer;
}

input[type="date"] {
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
    max-width: 200px;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width:999px) {
    section {
        width: 90%;
        margin: 10px auto;
    }
}

.btn-perfil {
    max-width: 100px;
    width: 100%;
}